<header id="page-navigation" class="content">
    <nav>
        <ul>
            <li><a href="{{@blog.url}}">Posts</a></li>
            <li><a href="{{@blog.url}}/about">About</a></li>
            <li><a href="http://twitter.com/_stefanzweifel">Twitter</a></li>
            <li><a href="http://github.com/stefanzweifel">Github</a></li>
            <li><a class="logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" /></a></li>
        </ul>
    </nav>
</header>