/*=================================
=            Box Model            =
=================================*/

$max-width : 500px;


/*-----  End of Box Model  ------*/


/*=============================
=            Visual            =
=============================*/

$border-radius: 5px;

$text-light: #eaeaea;
$text-dark: #333333;

$background-light: #F0F0EA;
$background-dark: #363A35;

$link-red: #ED694F;
$link-yellow: #EDB81D;

$white: #fff;
$grey: #eaeaea;

$twitter-color: #55acee ;
$facebook-color: #3b5998 ;
$google-color: #dd4b39;


/*-----  End of Visual  ------*/

